<div class="container">
    <h1>Editar Autors</h1>
    <form>
        <fieldset>
            <legend></legend>
            <div class="form-group col-xs-5 col-sm-5 col-md-5">
                Nom
                <input ng-model="editarNom" class="form-control" placeholder="Nom">
                <br> Cognoms
                <input ng-model="editarCognom" class="form-control" placeholder="Cognoms">
                <button class="btn btn-success btn-lg" ng-click="actualitzarAutor()">Editar Autor</button>
                <button class="btn btn-primary btn-lg" ng-click="cancelarAutor()">Cancelar</button>
            </div>
        </fieldset>
    </form>
</div>