<div class="container">
    <h1>Pagina que mostra els llibres</h1>
    <ul class="list-group col-xs-8 col-sm-8 col-md-8">
        <li class="list-group-item" ng-repeat="llibre in llibres | orderBy: '-date'">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"><img src="http://s27.postimg.org/qk49yykb3/Selecci_034.png" class="img-circle">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <h4><strong>{{llibre.titol}}</strong></h4>
                    <p ng-model="llibreAutor"><b>Autor/s</b> <div ng-repeat="autor in llibre.autors">·{{autor.nom}}&nbsp;{{autor.cognoms}}</div></p>
                    <p><b>Isbn:</b> {{llibre.isbn}}</p>
                    <div ng-if="currentUser">
                        <button class="btn btn-danger btn-lg list-group col-xs-3 col-sm-3 col-md-3" ng-click="borrarLlibre(llibre)">Esborrar</button>
                        <button class="btn btn-info btn-lg list-group col-xs-3 col-sm-3 col-md-3" ng-click="editarLlibre(llibre)">Editar</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>