<div class="container">
    <h1>Iniciar Sessio</h1>
    <form>
        <fieldset>
            <legend>Iniciar Sessio Usuari</legend>
            <div class="form-group col-xs-5 col-sm-5 col-md-5">
                Usuari
                <input ng-model="logUser" class="form-control" placeholder="Usuari">
                <br> Contrasenya
                <input type="password" ng-model="logPasswd" class="form-control" placeholder="Contrasenya">
                <br>
                <button class="btn btn-success btn-lg" ng-click="login(logUser, logPasswd)">Iniciar</button>
                <button class="btn btn-primary btn-lg" ng-click="cancelarLogin()">Cancelar</button>
            </div>
        </fieldset>
    </form>
</div>