<div class="container">
    <h1>Pagina per afegir un llibre nou</h1>
    <form>
        <fieldset>
            <legend>Llibre Nou</legend>
            <div class="form-group col-xs-5 col-sm-5 col-md-5">
                Titol
                <input ng-model="llibreTitol" class="form-control" placeholder="Titol"/>
                <br> Isbn
                <input ng-model="llibreIsbn" class="form-control" placeholder="Isbn"/>
                <br> Autor/s
                <select multiple ng-model="llibreAutor">
                    <option value="{{autor._id}}" ng-repeat="autor in autors">{{autor.nom}}&nbsp;{{autor.cognoms}}</option>
                </select>
                <br>
                <button class="btn btn-success btn-lg" ng-click="afegirLlibre()">Afegir Llibre</button>
                <button class="btn btn-primary btn-lg" ng-click="cancelarLlibre()">Cancelar</button>
            </div>
        </fieldset>
    </form>
</div>
